atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

symlinks/gitconfig.symlink
things_to_install/Brewfile.lock.json

bash/bash_custom.symlink
